
#nav-text {
    font-family: 'Zilla Slab Highlight', cursive;
}

.nav-item{
  background-color: #6c757d0d;
  border-radius: 3rem;
}

ul>li{
  margin: 0 0.5rem 0 0.5rem;
}

.slogan {
  background: rgba(0, 0, 0, 0.2);
  color: #f1f1f1;
}

#animated-h1 {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

.video-container {
  z-index: -100;
  width:100%;
  height:75%;
  overflow:hidden;
  position:absolute;
  top:0;
  left:0;
}
    
#travel-video{
  width:100%; 
}
.has-search{
  margin: 0 0.2rem 0 0.2rem;
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.hotel-review-score{
  background-color: blue;
}

.filters-card{
  background-color: #304D63;
}
#find-hotels{
  background-color: #ED8975;
}
.view-btn{
  background-color: #ED8975;
  border-radius: 0.1rem;
  border-color: black;
}